# macOS system files
.DS_Store
*.DS_Store
**/.DS_Store
**/*.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv

# IDE specific files
.idea/
.vscode/
# Logs
*.log

# Data
*.csv
data/processed/train_processed.pkl